@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif; 
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to top, #964805, #EE8206)
}

main {
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px#8d4d04d0 ;
    width: 600px; /* largura */
    padding: 10px; /* Acochoamento */
    background-color: beige;
    margin: auto;
}

h1 {
    color: #7C8C03;
    text-align: center;
    text-shadow: 1px 1px 2px #545f03c0;
}

h2{
    color: #D96907;
}

p {
    text-align: justify;
}